{% extends 'base.html.twig' %}

{% block title %}Edit Taldea{% endblock %}

{% block sidebar %}{% endblock %}
{% block main %}
    <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
{% endblock %}

{% block body %}
    <h1>{{ "app.taldea.edit" | trans }}</h1>

    {{ include('taldea/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}