{% extends 'base.html.twig' %}

{% block title %}New Taldea{% endblock %}

{% block sidebar %}{% endblock %}
{% block main %}
    <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
{% endblock %}

{% block body %}
    <h1>Create new Taldea</h1>

    {{ include('taldea/_form.html.twig') }}

    <a href="{{ path('taldea_index') }}">back to list</a>
{% endblock %}