{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <h1>Adi!</h1>
    <h3>Bilatzen ari zarena ez dago hemen edo ez duzu baimenik</h3>
{% endblock %}

{% block title %}

{% endblock %}

