{% extends 'base.html.twig' %}

{% block title %}{{ "app.karpeta.new" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "app.karpeta.new" | trans }}</h1>

    {{ include('karpeta/_form.html.twig') }}


{% endblock %}